<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-12 text-right">
            <p class="mb-0">
                &copy; @(DateTime.Now.Year) - <a href="index.html" class="text-muted">Frisian Flag Indonesia</a>
            </p>
        </div>
    </div>
    <div class="loadpanel" style="display:none;"></div>
</div>