<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
<meta name="author" content="Bootlab">

<title>@(ViewBag.AppName) | FFI Trade Spend Application</title>

@*<link rel="canonical" href="https://appstack.bootlab.io/dashboard-default.html" />*@
<link rel="shortcut icon" href="~/Media/Img/favicon-16x16.png">

@*<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">*@
<link href="~/global.css" rel="stylesheet">
<script>
    var baseUrl = "@(ViewBag.BaseUrl)";
</script>
<!-- Choose your prefered color scheme -->
<!-- <link href="css/light.css" rel="stylesheet"> -->
<!-- <link href="css/dark.css" rel="stylesheet"> -->
<!-- BEGIN SETTINGS -->
<!-- Remove this after purchasing -->

<link class="js-stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

<link class="js-stylesheet" href="~/css/light.css" rel="stylesheet">
<link class="js-stylesheet" href="~/Plugins/fontawesome/css/all.css" rel="stylesheet">
@*<link class="js-stylesheet" href="~/Plugins/devextreme/css/dx.common.css" rel="stylesheet">*@
    @*<link class="js-stylesheet" href="~/Plugins/devextreme/css/dx.light.css" rel="stylesheet">*@
<!-- END SETTINGS -->
 <link href="~/Devextreme/css/dx.common.css" rel="stylesheet" /> 
<link href="~/Devextreme/css/dx.carmine-combines.css" rel="stylesheet" />
<link href="~/Devextreme/css/dx-gridcontainer.css" rel="stylesheet" />
 @*<link href="~/Devextreme/css/dx.material.blue.light.compact.css" rel="stylesheet" />*@

<link href="~/css/sweetalert2.min.css" rel="stylesheet" />
<link href="~/Plugins/dropzone/css/dropzone.css" rel="stylesheet" />
<link asp-append-version="true" class="js-stylesheet" href="~/css/site.css" rel="stylesheet">
<style>
    #gridContainer .informersLock {
        padding-top: 20px;
        height: 20px;
        width: 20px;
        text-align: center;
        color: #fff;
        background-color: rgba(24, 112, 210, 0.89);
        background: url(../../Media/Img/Lock-icon.png);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        visibility: hidden;
    }
</style>