<div class="row mb-2 mb-xl-3 justify-content-center">
    <div class="col-auto d-none d-sm-block">
        <h3>FFI Trade Spend Dashboard</h3>
    </div>
</div>
<div class="container mt-5">
    <div class="d-flex flex-wrap justify-content-center">
        <img src="~/Media/Img/logo.png" />
    </div>
</div>