<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h4>Master GL Type</h4>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12 d-flex">
        <div class="card flex-fill w-100">
            <div class="card-body d-flex w-100 pt-3">
                <div class="align-self-center chart chart-lg">
                    <div id="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script asp-append-version="true" src="~/Master/GLType.js"></script>
}
